In [3]:
import pandas as pd
import numpy as np
import psycopg2

In [5]:
conn = psycopg2.connect(
    dbname= "Proyecto_ETL",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432"
)

In [6]:
cur = conn.cursor() # cursor me va a permitir ejecutar querys

In [5]:
# Comprobamos en la base de datos. Podemos hacerlo desde python
query_comprobacion = """
                SELECT * FROM ciudad 
"""
cur.execute(query_comprobacion)
cur.fetchall()

[(1, 'Madrid')]

In [6]:
# Comprobamos en la base de datos. Podemos hacerlo desde python
query_comprobacion = """
                SELECT * FROM eventos LIMIT 10
"""
cur.execute(query_comprobacion)
cur.fetchall()

[(1,
  'Black sad women',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=b24fa8c219315910VgnVCM2000001f4a900aRCRD',
  28022,
  'CALLE BOLTAÑA 27',
  '19:00',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'Centro Cultural Buero Vallejo (San Blas - Canillejas)',
  1),
 (2,
  'Century Rock',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=e451a8c219315910VgnVCM2000001f4a900aRCRD',
  28022,
  'CALLE BOLTAÑA 27',
  '12:00',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'Centro Cultural Buero Vallejo (San Blas - Canillejas)',
  1),
 (3,
  'Circo Homónimo',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=c520542e85d15910VgnVCM1000001d4a900aRCRD',
  28022,
  'CALLE ALIAGA 5',
  '12:00',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'Centro Sociocultural Miguel de Cervantes (San Blas - Canillejas)',
  1),
 (4,
  'Clásicos del Cuento',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=418fc109a5305910VgnVCM1000001d4a900aRCRD',
  28045,
  'PASEO CHOPERA 14',
  '10:30',
  datetime.date(2025, 3, 3),
  datetime.date(2025, 3, 3),
  'Casa del Lector',
  1),
 (5,
  'Concurso de disfraces',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=dc29318cb1405910VgnVCM2000001f4a900aRCRD',
  0,
  'No disponible',
  '11:30',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'No disponible',
  1),
 (6,
  'Coro Yelena Lafargue',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=e8ec2c84ecd15910VgnVCM2000001f4a900aRCRD',
  28022,
  'CALLE FEBRERO 4',
  '12:00',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'Centro Cultural José Luis López Vázquez (San Blas - Canillejas)',
  1),
 (7,
  'Cuidado con los bulos',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=80c9f7cdf1ef4910VgnVCM2000001f4a900aRCRD',
  28024,
  'CALLE GRANJA DE TORREHERMOSA 1',
  '10:00',
  datetime.date(2025, 3, 3),
  datetime.date(2025, 3, 5),
  'Biblioteca Pública Municipal Ángel González (Latina)',
  1),
 (8,
  'Del grafismo a la textura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=8a20a9f2a3815910VgnVCM1000001d4a900aRCRD',
  28023,
  'TRAVESIA CA&amp;Ntilde;O 5',
  '',
  datetime.date(2025, 3, 3),
  datetime.date(2025, 3, 28),
  'Centro Cultural Juan Genovés (Moncloa - Aravaca)',
  1),
 (9,
  'Desfile con charanga y taller de máscaras',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1849318cb1405910VgnVCM2000001f4a900aRCRD',
  0,
  'No disponible',
  '12:00',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'No disponible',
  1),
 (10,
  'El arca rusa',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=af0464926f415910VgnVCM1000001d4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  '20:30',
  datetime.date(2025, 3, 2),
  datetime.date(2025, 3, 2),
  'Cineteca Madrid',
  1)]

In [7]:
# Comprobamos en la base de datos. Podemos hacerlo desde python
query_comprobacion = """
                SELECT * FROM hoteles LIMIT 10
"""
cur.execute(query_comprobacion)
cur.fetchall()

[(113, 'ibis Styles Madrid Prado', True, 4.7, 1),
 (194, 'Novotel Madrid Center', True, 4.6, 1),
 (1, 'Hotel Monte Verde', False, 3.1, 1),
 (2, 'Hotel Brisas del Mar', False, 3.09, 1),
 (3, 'Hotel Camino del Sol', False, 3.07, 1),
 (4, 'Hotel Puerta del Cielo', False, 3.03, 1),
 (5, 'Hotel Encanto Real', False, 3.02, 1),
 (131, 'ibis budget Madrid Calle 30', True, 4.4, 1),
 (6, 'Palacio del Sol', False, 2.99, 1),
 (114, 'ibis Madrid Centro las Ventas', True, 4.5, 1)]

In [8]:
# Comprobamos en la base de datos. Podemos hacerlo desde python
query_comprobacion = """
                SELECT * FROM clientes LIMIT 10
"""
cur.execute(query_comprobacion)
cur.fetchall()

[('1', 'Feliciana', 'Cantón', 'feliciana.cantón@example.com'),
 ('2', 'Leonardo', 'Hierro', 'leonardo.hierro@example.com'),
 ('3', 'Maite', 'Calatayud', 'maite.calatayud@example.com'),
 ('4', 'Tecla', 'Bonet', 'tecla.bonet@example.com'),
 ('5', 'Amílcar', 'Andrés', 'amílcar.andrés@example.com'),
 ('6', 'Joan', 'Vazquez', 'joan.vazquez@example.com'),
 ('7', 'Chelo', 'Flor', 'chelo.flor@example.com'),
 ('8', 'Judith', 'Rivas', 'judith.rivas@example.com'),
 ('9', 'Dolores', 'Lobo', 'dolores.lobo@example.com'),
 ('10', 'Adolfo', 'Cuervo', 'adolfo.cuervo@example.com')]

In [9]:
# Comprobamos en la base de datos. Podemos hacerlo desde python
query_comprobacion = """
                SELECT * FROM reservas LIMIT 10
"""
cur.execute(query_comprobacion)
cur.fetchall()

[('5256cc90-139b-43d2-8ec5-412495d751cf',
  datetime.date(2025, 2, 20),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  170.0,
  '1',
  113),
 ('84fd6209-bd8d-4a92-bfe6-c68ee2c49271',
  datetime.date(2025, 2, 20),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  255.0,
  '2',
  194),
 ('40c4cb55-d1f5-407b-832f-4756b8ff77b4',
  datetime.date(2025, 2, 9),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  276.09,
  '3',
  1),
 ('f2ce8df5-7844-43e1-8c0f-97ce7a208f21',
  datetime.date(2025, 2, 8),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  275.01,
  '4',
  2),
 ('57d4515a-447d-4067-afcb-9bdcf4e4e915',
  datetime.date(2025, 2, 2),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  270.07,
  '5',
  3),
 ('ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7',
  datetime.date(2025, 2, 8),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  280.24,
  '6',
  4),
 ('99c3dc4f-663c-45f7-849a-ac9313f3746a',
  datetime.date(2025, 2, 9),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  278.18,
  '7',
  5),
 ('4d65096e-5f12-4ce7-9fd6-dd20e3cf5194',
  datetime.date(2025, 2, 20),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  106.0,
  '8',
  131),
 ('a5da0906-0fe5-4c30-b193-863df67a7b84',
  datetime.date(2025, 2, 10),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  282.34,
  '9',
  6),
 ('458029ad-cc9b-4d85-8290-fec170bcc02d',
  datetime.date(2025, 2, 20),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  172.0,
  '10',
  114)]

In [10]:
# cuantos hoteles tiene la base da datos
query_comprobacion = """
                SELECT count(id_hotel) FROM hoteles 
"""
cur.execute(query_comprobacion)
cur.fetchall()

[(29,)]

In [11]:
# cuantas reservas se han hecho
query_comprobacion = """
                SELECT count(id_reserva) FROM reservas
"""
cur.execute(query_comprobacion)
cur.fetchall()

[(15000,)]

In [7]:
# cuantas reservas se han hecho
query_comprobacion = """
                SELECT e.nombre_evento, e.fecha_inicio from ciudad c join eventos e on c.id_ciudad = e.id_ciudad 
"""
cur.execute(query_comprobacion)
cur.fetchall()

[('Black sad women', datetime.date(2025, 3, 2)),
 ('Century Rock', datetime.date(2025, 3, 2)),
 ('Circo Homónimo', datetime.date(2025, 3, 2)),
 ('Clásicos del Cuento', datetime.date(2025, 3, 3)),
 ('Concurso de disfraces', datetime.date(2025, 3, 2)),
 ('Coro Yelena Lafargue', datetime.date(2025, 3, 2)),
 ('Cuidado con los bulos', datetime.date(2025, 3, 3)),
 ('Del grafismo a la textura', datetime.date(2025, 3, 3)),
 ('Desfile con charanga y taller de máscaras', datetime.date(2025, 3, 2)),
 ('El arca rusa', datetime.date(2025, 3, 2)),
 ('El carnaval de los animales', datetime.date(2025, 3, 2)),
 ('Exhibición de chirigotas adultos', datetime.date(2025, 3, 2)),
 ('Exhibición de chirigotas infantiles', datetime.date(2025, 3, 2)),
 ('Exposición de fotografías aportadas por los alumnos del taller de Historia del Barrio de El Pilar',
  datetime.date(2025, 3, 3)),
 ('Huerto familiar', datetime.date(2025, 3, 2)),
 ('Itinerario Ornitológico Parque del Oeste', datetime.date(2025, 3, 2)),
 ('Itinerario por el Parque Forestal de Valdebebas-Felipe VI',
  datetime.date(2025, 3, 2)),
 ('La gira de rock Quijote', datetime.date(2025, 3, 2)),
 ('Las marionetas de la Dehesa te cuentan', datetime.date(2025, 3, 2)),
 ('Los Cabecicubos en la Biblioteca Pozo del Tío Raimundo',
  datetime.date(2025, 3, 3)),
 ('Los secretos de los cuentos', datetime.date(2025, 3, 2)),
 ('Los soñadores', datetime.date(2025, 3, 2)),
 ('Memories', datetime.date(2025, 3, 2)),
 ('Rastreando la vida silvestre', datetime.date(2025, 3, 2)),
 ('Salve amicis aqua pigmenta et acquarello', datetime.date(2025, 3, 3)),
 ('Senderismo al invernadero de Arganzuela', datetime.date(2025, 3, 2)),
 ('Valerosas', datetime.date(2025, 3, 2)),
 ('Verde, gris, negro', datetime.date(2025, 3, 3))]

In [2]:
conn.rollback()

NameError: name 'conn' is not defined

In [ ]:
cur.close()
conn.close()